// only scss variables

$--colors: (
        "primary": (
                "base": #368dff,
        ),
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: $--colors
);

/* 自定义暗黑模式样式 */
html.dark {
  //background: #589ef8;
}

:root.dark {
  --eoait-bg-primary: #1d1e1f
}
